.prop{
    width: 100px;
    height: 40px;
    background-color: green;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: white;
    cursor: pointer;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.num_holder{
    width: 30%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150px;
    color: green;
}